/* line 5, ../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 2, ../../../components/sass/_base.scss */
body {
  font: 200 1em/1.5em brandon-grotesque, Helvetica, sans-serif;
  background: #FFFFFF;
  color: #000000;
}

/* line 8, ../../../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font: 200 1.5em/1.5em "kepler-std-extended-display", Times, serif;
  color: #5e1719;
  font-weight: 600;
}

/* line 14, ../../../components/sass/_base.scss */
strong {
  font-weight: 600;
}

/* line 18, ../../../components/sass/_base.scss */
p {
  font-weight: 200;
  padding-bottom: 10px;
}

/* line 1, ../../../components/sass/_layout.scss */
body {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 6, ../../../components/sass/_layout.scss */
.scene {
  position: relative;
  padding: 20px 0;
}
/* line 10, ../../../components/sass/_layout.scss */
.scene article {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.scene article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1200px) {
  /* line 6, ../../../components/sass/_layout.scss */
  .scene {
    padding: 40px 0;
  }
}
@media (min-width: 960px) {
  /* line 19, ../../../components/sass/_layout.scss */
  .scene article {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .scene article:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 1, ../../../components/sass/modules/_donate.scss */
#donate {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/donate/donate.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 24, ../../../components/sass/_mixins.scss */
#donate:before, #donate:after {
  content: '';
  display: table;
}
/* line 29, ../../../components/sass/_mixins.scss */
#donate:after {
  clear: both;
}
/* line 12, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#donate:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 12, ../../../components/sass/modules/_donate.scss */
#donate article {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 200px;
  margin-bottom: 200px;
  background: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 12, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#donate article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 960px) {
  /* line 12, ../../../components/sass/modules/_donate.scss */
  #donate article {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  #donate article:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 23, ../../../components/sass/modules/_donate.scss */
#donate button {
  float: right;
  color: #FFFFFF;
  border: none;
  background-color: #000D42;
  font-weight: #FFFFFF;
  font-size: 1em;
  padding: 12px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 3, ../../../components/sass/modules/_education.scss */
#education h1, #education h2 {
  color: #721C1F;
  padding: 10px 0;
}
/* line 8, ../../../components/sass/modules/_education.scss */
#education img {
  width: 100%;
  -moz-border-radius: 10px 0;
  -webkit-border-radius: 10px;
  border-radius: 10px 0;
}
@media (min-width: 650px) {
  /* line 14, ../../../components/sass/modules/_education.scss */
  #education #edIntro {
    margin-bottom: 30px;
  }
  /* line 16, ../../../components/sass/modules/_education.scss */
  #education #edIntro h1 {
    font-weight: 200;
    font-size: 2.5em;
  }
  /* line 20, ../../../components/sass/modules/_education.scss */
  #education #edIntro p {
    font-size: 1.5em;
    line-height: 140%;
  }
  /* line 26, ../../../components/sass/modules/_education.scss */
  #education section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 24, ../../../components/sass/_mixins.scss */
  #education section:before, #education section:after {
    content: '';
    display: table;
  }
  /* line 29, ../../../components/sass/_mixins.scss */
  #education section:after {
    clear: both;
  }
  /* line 29, ../../../components/sass/modules/_education.scss */
  #education section h2 {
    font-size: 1.2em;
    line-height: 120%;
    color: #862125;
    font-weight: 400;
  }
  /* line 35, ../../../components/sass/modules/_education.scss */
  #education section p {
    padding-top: 10px;
    font-size: 1em;
    line-height: 130%;
  }
  /* line 40, ../../../components/sass/modules/_education.scss */
  #education section strong, #education section a {
    font-weight: 400;
    color: #8F6036;
    text-decoration: none;
  }
}
/* line 48, ../../../components/sass/modules/_education.scss */
#education #masterclass {
  margin-top: 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZDNhOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e7d3a8));
  background-image: -moz-linear-gradient(top, #ffffff, #e7d3a8);
  background-image: -webkit-linear-gradient(top, #ffffff, #e7d3a8);
  background-image: linear-gradient(to bottom, #ffffff, #e7d3a8);
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
  border-top: 1px solid #721C1F;
  border-bottom: 1px solid #721C1F;
}

/* line 1, ../../../components/sass/modules/_players.scss */
#players {
  padding: 0;
}
/* line 24, ../../../components/sass/_mixins.scss */
#players:before, #players:after {
  content: '';
  display: table;
}
/* line 29, ../../../components/sass/_mixins.scss */
#players:after {
  clear: both;
}
/* line 6, ../../../components/sass/modules/_players.scss */
#players .event {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#players .event:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 6, ../../../components/sass/modules/_players.scss */
  #players .event {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
}
/* line 13, ../../../components/sass/modules/_players.scss */
#players .event .content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  color: #FFFFFF;
  font-weight: 200;
  line-height: 130%;
}
/* line 22, ../../../components/sass/modules/_players.scss */
#players .event .content h2 {
  color: #FFFFFF;
  line-height: 1em;
}
/* line 27, ../../../components/sass/modules/_players.scss */
#players .event .content p {
  padding: 5px 0;
}
/* line 35, ../../../components/sass/modules/_players.scss */
#players #one {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/players/terrance_patterson.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 38, ../../../components/sass/modules/_players.scss */
#players #two {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/players/ann_hobson.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 41, ../../../components/sass/modules/_players.scss */
#players #three {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/players/terrance_patterson.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 44, ../../../components/sass/modules/_players.scss */
#players #four {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/players/ann_hobson.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 1, ../../../components/sass/modules/_footer.scss */
footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #333333;
  padding: 30px 0;
}
/* line 12, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
footer:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 6, ../../../components/sass/modules/_footer.scss */
footer #socialmedia {
  text-align: center;
}
/* line 8, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul {
  list-style: none;
}
/* line 10, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li {
  display: inline-block;
  padding: 10px;
}
/* line 13, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li img {
  width: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 1, ../../../components/sass/modules/_season.scss */
#season {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlMTcxOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q4NWMxNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5e1719), color-stop(100%, #d85c16));
  background-image: -moz-linear-gradient(top, #5e1719, #d85c16);
  background-image: -webkit-linear-gradient(top, #5e1719, #d85c16);
  background-image: linear-gradient(to bottom, #5e1719, #d85c16);
  color: #FFFFFF;
}
/* line 5, ../../../components/sass/modules/_season.scss */
#season h1, #season h2, #season h3, #season h4, #season h5, #season h6 {
  color: #FFFFFF;
}
/* line 10, ../../../components/sass/modules/_season.scss */
#season .heading h1 {
  font-size: 3em;
  font-weight: 200;
}
/* line 24, ../../../components/sass/_mixins.scss */
#season #performance:before, #season #performance:after {
  content: '';
  display: table;
}
/* line 29, ../../../components/sass/_mixins.scss */
#season #performance:after {
  clear: both;
}
@media (min-width: 650px) {
  /* line 18, ../../../components/sass/modules/_season.scss */
  #season #performance section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 3.33333%;
    padding-right: 3.33333%;
  }
}
@media (min-width: 450px) and (max-width: 650px) {
  /* line 23, ../../../components/sass/modules/_season.scss */
  #season #performance section.checklist {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
  }
}
/* line 28, ../../../components/sass/modules/_season.scss */
#season #performance section h2 {
  color: white;
  font-size: 1.3em;
  line-height: 110%;
  padding: 10px 0;
}
/* line 35, ../../../components/sass/modules/_season.scss */
#season #performance section p {
  font-size: 1em;
  line-height: 130%;
}
/* line 41, ../../../components/sass/modules/_season.scss */
#season #performance section ul li {
  list-style: square;
  margin-left: 10%;
  line-height: 115%;
  margin-bottom: 5px;
}
/* line 47, ../../../components/sass/modules/_season.scss */
#season #performance section ul span {
  font-weight: 400;
}
/* line 54, ../../../components/sass/modules/_season.scss */
#season #performance section#calendar ul {
  margin: 0;
}
/* line 56, ../../../components/sass/modules/_season.scss */
#season #performance section#calendar ul li {
  list-style: none;
  border-top: 1px solid #FFFFFF;
  padding: 15px 0;
  margin-left: 0;
}
/* line 61, ../../../components/sass/modules/_season.scss */
#season #performance section#calendar ul li strong, #season #performance section#calendar ul li a {
  color: #D7B56C;
  text-decoration: none;
}
/* line 66, ../../../components/sass/modules/_season.scss */
#season #performance section#calendar ul li:first-child {
  border-top: none;
}
/* line 74, ../../../components/sass/modules/_season.scss */
#season #register {
  background-color: #a38d74;
  margin-top: 20px;
  border: 1px solid #FFFFFF;
  padding: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
/* line 78, ../../../components/sass/modules/_season.scss */
#season #register .form {
  font-size: .8m;
}
/* line 82, ../../../components/sass/modules/_season.scss */
#season #register .left {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 40px;
}
/* line 86, ../../../components/sass/modules/_season.scss */
#season #register .right {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (min-width: 1200px) {
  /* line 74, ../../../components/sass/modules/_season.scss */
  #season #register {
    background-image: url("../images/icons/png/.png");
    background-size: 240px;
    background-repeat: no-repeat;
    background-position: 110% center;
    padding-right: 280px;
  }
}

/* line 2, ../../../components/sass/modules/_intro.scss */
header .fullheight {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../images/bio/Concert-4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: start;
  align-items: start;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 12, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup {
  padding: 100px 0;
}
/* line 15, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup h1 {
  color: #FFFFFF;
  font-size: 5em;
  line-height: .8em;
  text-shadow: #000000 0 0 20px;
  text-align: center;
  margin-bottom: 40px;
}
/* line 24, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup h2 a {
  display: block;
  color: #FFFFFF;
  width: 70%;
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #FFFFFF;
  margin-top: 15px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-size: .8em;
  font-family: brandon-grotesque, Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  text-decoration: none;
}
/* line 41, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup h2 a:hover {
  color: #e2c994;
  background: rgba(73, 18, 20, 0.5);
}
/* line 48, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup p {
  text-align: center;
  font-family: "grafolita-script", Times, serif;
  word-spacing: 2px;
  color: #d9b974;
  font-size: 1.4em;
  padding-top: 50px;
  margin-top: 16%;
}
/* line 57, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup p img {
  padding-top: 6px;
  max-width: 50px;
}

/* line 1, ../../../components/sass/modules/_nav.scss */
header #nav {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMGQ0MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #000d42));
  background-image: -moz-linear-gradient(top, #000000, #000d42);
  background-image: -webkit-linear-gradient(top, #000000, #000d42);
  background-image: linear-gradient(to bottom, #000000, #000d42);
  width: 100%;
  z-index: 100;
}
/* line 24, ../../../components/sass/_mixins.scss */
header #nav:before, header #nav:after {
  content: '';
  display: table;
}
/* line 29, ../../../components/sass/_mixins.scss */
header #nav:after {
  clear: both;
}
/* line 9, ../../../components/sass/modules/_nav.scss */
header #nav .navbar {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
header #nav .navbar:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 11, ../../../components/sass/modules/_nav.scss */
header #nav .navbar .brand {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  float: left;
  font-weight: 400;
  font-family: 200 1.5em/1.5em "kepler-std-extended-display", Times, serif;
  font-size: .8em;
  text-align: center;
  text-transform: uppercase;
  background: #5e1719;
}
/* line 20, ../../../components/sass/modules/_nav.scss */
header #nav .navbar .brand a {
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 10px;
  font-size: 1.6em;
}
@media (max-width: 960px) {
  /* line 20, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar .brand a {
    font-weight: 200;
    font-size: 1.2em;
  }
}
@media (max-width: 650px) {
  /* line 20, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar .brand a {
    font-weight: 400;
    font-size: 1.5em;
  }
  /* line 37, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar .brand a span {
    display: none;
  }
}
/* line 42, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 44, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li {
  float: left;
}
/* line 46, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li a {
  color: #FFFFFF;
  font: 200 1em/1.5em brandon-grotesque, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  display: inline-block;
  padding: 10px 20px 10px 40px;
  text-decoration: none;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 2px;
}
/* line 60, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li a.calendar {
  background-image: url(../images/icons/png/calendar.png);
}
/* line 61, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li a.note {
  background-image: url(../images/icons/png/note.png);
}
/* line 62, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li a.book {
  background-image: url(../images/icons/png/book.png);
}
/* line 63, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li a.bell {
  background-image: url(../images/icons/png/heart.png);
}
/* line 64, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li a.thumb {
  background-image: url(../images/icons/png/thumb.png);
}
/* line 66, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li a:hover {
  background-color: #D85C16;
  color: #000D42;
}
@media (min-width: 0) and (max-width: 650px) {
  /* line 46, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar ul li a {
    padding: 10px 18px;
  }
  /* line 72, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar ul li a::after {
    content: '\000a0';
    display: block;
  }
  /* line 76, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar ul li a span {
    display: none;
  }
}
@media (min-width: 650px) and (max-width: 960px) {
  /* line 46, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar ul li a {
    padding-left: 10px;
  }
  /* line 82, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar ul li a.icon {
    background-image: none;
  }
}
/* line 84, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li a.active {
  background-color: #D7B56C;
  color: #FFFFFF;
}

/* line 2, ../../../components/sass/modules/_program.scss */
#program header {
  margin-bottom: 20px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#program header:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 960px) {
  /* line 2, ../../../components/sass/modules/_program.scss */
  #program header {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 9.16667%;
    padding-right: 9.16667%;
  }
  /* line 12, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  #program header:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 9, ../../../components/sass/modules/_program.scss */
#program header h1 {
  color: #000d42;
}
/* line 13, ../../../components/sass/modules/_program.scss */
#program .room {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 200px 0;
}
/* line 12, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#program .room:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 13, ../../../components/sass/modules/_program.scss */
  #program .room {
    padding-left: 42.5%;
    padding-right: 9.16667%;
  }
}
/* line 26, ../../../components/sass/modules/_program.scss */
#program .room .content {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(237, 221, 188, 0.6);
  padding: 20px;
}
/* line 31, ../../../components/sass/modules/_program.scss */
#program .room .content h1 {
  color: #000D42;
}
/* line 35, ../../../components/sass/modules/_program.scss */
#program .room .content p {
  font-weight: 400;
}
/* line 40, ../../../components/sass/modules/_program.scss */
#program #dream {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/season/violinSinger.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 43, ../../../components/sass/modules/_program.scss */
#program #peace {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/season/smgroup.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 46, ../../../components/sass/modules/_program.scss */
#program #spring {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/season/harpsichord.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 1, ../../../components/sass/modules/_welcome.scss */
#welcome {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4NWMxNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q3YjU2YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d85c16), color-stop(100%, #d7b56c));
  background-image: -moz-linear-gradient(top, #d85c16, #d7b56c);
  background-image: -webkit-linear-gradient(top, #d85c16, #d7b56c);
  background-image: linear-gradient(to bottom, #d85c16, #d7b56c);
}
/* line 3, ../../../components/sass/modules/_welcome.scss */
#welcome article {
  text-align: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#welcome article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 3, ../../../components/sass/modules/_welcome.scss */
  #welcome article {
    max-width: 33em;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
  }
  /* line 12, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  #welcome article:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 12, ../../../components/sass/modules/_welcome.scss */
#welcome h1 {
  font-weight: normal;
  line-height: 100%;
  color: #5e1719;
  padding: 10px 0;
}
/* line 19, ../../../components/sass/modules/_welcome.scss */
#welcome p {
  font-weight: 400;
}
/* line 24, ../../../components/sass/_mixins.scss */
#welcome .gallery:before, #welcome .gallery:after {
  content: '';
  display: table;
}
/* line 29, ../../../components/sass/_mixins.scss */
#welcome .gallery:after {
  clear: both;
}
/* line 25, ../../../components/sass/modules/_welcome.scss */
#welcome .gallery img {
  -moz-border-radius: 20% 0%;
  -webkit-border-radius: 20%;
  border-radius: 20% 0%;
  display: none;
}
@media (min-width: 650px) {
  /* line 25, ../../../components/sass/modules/_welcome.scss */
  #welcome .gallery img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: inline;
  }
  /* line 66, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
  }
  /* line 66, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(4n + 2) {
    margin-left: 25%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(4n + 3) {
    margin-left: 50%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(4n + 4) {
    margin-left: 75%;
    margin-right: -100%;
    clear: none;
  }
  /* line 32, ../../../components/sass/modules/_welcome.scss */
  #welcome .gallery img.hidesm {
    display: none;
  }
}
@media (min-width: 960px) {
  /* line 25, ../../../components/sass/modules/_welcome.scss */
  #welcome .gallery img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    display: inline;
  }
  /* line 66, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(5n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
  }
  /* line 66, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(5n + 2) {
    margin-left: 20%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(5n + 3) {
    margin-left: 40%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(5n + 4) {
    margin-left: 60%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../../.rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(5n + 5) {
    margin-left: 80%;
    margin-right: -100%;
    clear: none;
  }
  /* line 38, ../../../components/sass/modules/_welcome.scss */
  #welcome .gallery img.hidesm {
    display: inline;
  }
}
